/* src/components/ProductDisplay.module.css */
.whole{
    display: flex;
    height: 700px;
    margin-top: 180px;
    margin-left: 60px;
}
.productContainer {
    overflow: hidden; /* Hide the scrollbars */
    position: relative;
  
    margin-top: 70px;
    width: 100%; /* Full width of the container */
    height: 350px; /* Adjust height as needed */
    background-color: hsl(330, 50%, 99%); /* Background color */
  }
  .cardcontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .card {
    background-color: #eed2d2;
    padding: 20px;
    border: 1px solid #e5b4b4;
    border-radius: 8px;
  }
  
  @media (max-width: 1200px) {
    .cardcontainer {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 900px) {
    .cardcontainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .productWrapper {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    white-space: nowrap;
    animation: scroll-left 20s linear infinite; /* Adjust duration as needed */
  }
  
  .productWrapper:hover {
    animation-play-state: paused; /* Pause scrolling on hover */
  }
  
  .productCard {
    flex: 0 0 auto; /* Prevent cards from shrinking */
    margin-right: 100px; /* Space between cards */
    box-sizing: border-box;
  }
  
  @keyframes scroll-left {
    from {
      transform: translateX(15%); /* Start from the right */
    }
    to {
      transform: translateX(-100%); /* Move to the left */
    }
  }
  