.aboutUsContainer {
  /* max-width: 1000px; */
  height: 650px;
  background-color: rgb(246, 238, 238);
  display: flex;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: serif;
}
.text {
  margin-top: 190px;
  margin-left: 25px;
  margin-bottom: 5px;
  background-color: white;
  padding: 20px 60px;
  margin-bottom: 130px;
}
.heading {
  color: #333;
  font-family: serif;
}
.nameofower {
  /* font-size: 1.5rem; */
  font-weight: 200;
  font-family: serif;
}

.paragraph {
  color: #666;
  line-height: 1.6;
}

.valuesList {
  list-style-type: none;
  padding: 0;
}
