/* src/components/Header.module.css */
.header {
  background-color: #fbd5e1;
  padding: 10px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}



.navList {
  list-style: none;
  
  margin: 0;
  padding: 0;
  display: flex;
}

.navList li {
  margin: 0 25px;
}

.navList li a {
  text-decoration: none;
  color: #333;
  font-weight: 100;
  font-size: 3.0rem;
  font-family: 'Whisper', sans-serif;
  transition: color 0.3s;
}
.logo {

  font-family: 'Grey Qo', sans-serif;
  font-weight: bolder;
  font-size: 3.9rem; /* Adjust size as needed */
  /* font-weight: bold; */
  
}
.navList li a:hover {
  color: #e91e63;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navList {
    flex-direction: column;
    width: 100%;
  }

  .navList li {
    margin: 10px 0;
  }
}
