.header {
  background-color: #f7e6eb;
  padding: 10px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-family: 'Grey Qo', sans-serif;
  font-weight: bolder;
  font-size: 3.2rem; /* Adjust size as needed */
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navList li {
  margin: 0 25px;
}

.navList li a {
  text-decoration: none;
  color: #333;
  font-weight: 100;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.navList li a:hover {
  color: #e91e63;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 30px;
  height: 21px;
  justify-content: space-between;
}

.hamburger div {
  width: 100%;
  height: 3px;
  background-color: #333;
  transition: all 0.3s ease;
}

.hamburger.active div:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navList {
    flex-direction: column;
    width: 100%;
    display: none; /* Hide the menu by default */
  }

  .navList.active {
    display: flex;
  }

  .navList li {
    margin: 10px 0;
  }

  .hamburger {
    display: flex;
  }
}
