/* src/components/TextSection.module.css */
.textSection {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .title {
    font-size: 2.5rem;
    
    font-family: 'Helvetica', sans-serif;
    color: #000;
    margin-bottom: 1rem;
  }
  
  .description {
    font-size: 1.125rem;
    color: #000;
    
    font-family: 'Helvetica', sans-serif;
  }
  