/* src/components/TextSection.module.css */
.textSection {
  text-align: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 3rem;

  font-family: serif;
  color: #000;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.8rem;
  color: #000;

  font-family: serif;
}
