/* YourStyles.module.css */

.whole {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 100px;
  /* padding: 50px; */
  background-color: #faf5f6;
}

.productContainer {
  display: flex;
  margin-left: 125px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  position: relative;
}

.productWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* Adjust width based on your card design */
}

.productWrapper img {
  width: 100%;
  height: auto;
  object-fit: contain; /* Ensures images maintain their aspect ratio */
  max-height: 1200px; /* Adjust based on your card design */
}

.leftArrow,
.rightArrow {
  position: absolute;
  /* top: 50%; */
  transform: translateY(-50%);
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: rgb(202, 45, 45);
  border: none;
  /* padding: 10px; */
  cursor: pointer;
  z-index: 1;
  font-size: 40px;
  /* border-radius: 0%; */
}

.leftArrow {
  left: -50px; /* Adjust position as needed */
}

.rightArrow {
  right: -50px; /* Adjust position as needed */
}

.leftArrow:hover,
.rightArrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.productWrapper > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: fff(255, 255, 255);
  border-radius: 10px;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
