.card {
  position:static;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.image img {
  width: 100%;
  height:400px;
  /* display: block; */
}

.text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(218, 167, 167, 0.7);
  color: #fff;
  padding: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .text {
  opacity: 1;
}

.icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}
